.container-btm {
  background-color: #fab384;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 0px;
  margin-top: 15px;
  color: black;
  bottom: 0;
  width: 100%;
}
.container-btm .container-btm-inner {
  position: absolute;
  bottom: 0;
  background-color: #fab384;
  width: 100%;
  display: flex;
  justify-content: center;
}
.container-meetUs {
  background-color: #fab384;
  position: static;
  display: flex;
  justify-content: center;
  padding: 0px;
  margin: auto;
  margin-top: 100px;
  color: black;
  left: 0;
  bottom: 0;
  width: 100%;
}
.container-btm-about {
  background-color: #fab384;
  display: flex;
  justify-content: center;
  padding: 0px;
  margin-top: 15px;
  color: black;
  bottom: 0;
  width: 100%;
  margin-top: 450px;
}
.container-btm-about .container-btm-inner-about {
  bottom: 0;
  background-color: #fab384;
  width: 100%;
  display: flex;
  justify-content: center;
}
.icons {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding-left: 10px;
}
.icons img {
  margin-top: 10px;
  margin-left: 10px;
  width: 30px;
  height: 30px;
}
@media screen and (max-width: 500px) {
  .icons img {
    width: 20px;
    height: 20px;
  }
}
a {
  text-decoration: none;
  color: white;
  padding: 7px;
}
.container-nav {
  position: relative;
  padding: 0;
  margin: 0;
  color: seashell;
  background-color: #f73b3b;
}
.container-nav .nav-hamburger-clicked {
  height: 120px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-nav .navbar {
  display: flex;
  border: 2px outset #f96262;
}
.container-nav .navbar .nav-logo {
  width: 75%;
  display: flex;
}
.container-nav .navbar .nav-logo h1 {
  padding-left: 0px;
}
.container-nav .navbar .nav-logo .chefIcon {
  width: 48px;
  height: 48px;
  margin-top: 10px;
}
.container-nav .navbar .nav-links {
  justify-content: space-around;
  align-self: center;
  display: flex;
  width: 30%;
}
.container-nav .navbar .nav-links .nav-hamburger {
  transform: rotate(90deg);
  display: none;
}
.container-nav .navbar .nav-links .nav-hamburger #stick {
  padding: 2px;
  font-size: 1.5rem;
  font-weight: bold;
}
.container-nav .navbar a:hover {
  cursor: pointer;
}
.container-nav a:hover {
  cursor: pointer;
}
@media screen and (max-width: 668px) {
  .container-nav .nav-logo {
    width: 100%;
    justify-content: center;
    padding-left: 100px;
  }
  .container-nav .nav-links {
    justify-content: flex-end;
  }
  .container-nav .nav-links a {
    display: none;
  }
  .nav-hamburger {
    display: flex !important;
  }
  .nav-hamburger:hover {
    cursor: pointer;
  }
}
.navt {
  display: none !important;
}
@media screen and (max-width: 300px) {
  .container-nav .nav-logo {
    width: 70%;
  }
}
body {
  background-color: seashell;
}
.meetUsPage {
  background-image: url(../assets/Background-images/button.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
@media (max-width: 720px) {
  .meetUsPage {
    background-image: none;
    background-color: #f2e9d4;
  }
}
.meet-us {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.meet-us h1 {
  text-align: center;
  font-size: 3rem;
}
.meet-us .panel {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 30px 0;
  background-color: #f7863b;
  border: 4px solid #ad2929;
  border-radius: 10px;
  box-shadow: 5px 10px 10px;
  width: 70%;
  height: 100%;
}
@media (max-width: 1200px) and (min-width: 800px) {
  .meet-us .panel {
    width: 90%;
  }
}
@media (max-width: 799px) {
  .meet-us .panel {
    width: 97%;
  }
}
.meet-us .panel:hover {
  background-color: #ad2929;
  color: seashell;
  border: 4px solid #f7863b;
}
.meet-us .panel .panel-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 50px;
  width: 100%;
}
@media (max-width: 720px) {
  .meet-us .panel .panel-bar {
    flex-direction: column;
    align-content: space-evenly;
    height: 80px;
  }
}
.meet-us .panel .panel-bar h3 {
  font-size: 2rem;
  display: flex;
  align-self: center;
  font-weight: bolder;
}
@media (max-width: 1000px) {
  .meet-us .panel .panel-bar h3 {
    font-size: 1.6rem;
  }
}
@media (max-width: 720px) {
  .meet-us .panel .panel-bar h3 {
    margin: 0;
  }
}
.meet-us .panel .panel-bar h4 {
  font-size: 1.6rem;
  display: flex;
  align-self: center;
}
@media (max-width: 1000px) {
  .meet-us .panel .panel-bar h4 {
    font-size: 1.4rem;
    margin: 0;
  }
}
@media (max-width: 720px) {
  .meet-us .panel .panel-bar .panel-buttons {
    margin: 0;
    display: flex;
    justify-content: center;
  }
}
.meet-us .panel .panel-bar .panel-buttons .button {
  cursor: pointer;
}
.meet-us .panel .panel-bar .panel-buttons .hide-button {
  display: none;
}
.meet-us .panel .panel-content {
  display: none;
}
.meet-us .panel .panel-content .panel-style {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  padding-top: 30px;
  width: 100%;
}
@media (max-width: 1200px) {
  .meet-us .panel .panel-content .panel-style {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
.meet-us .panel .panel-content .panel-style .information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  width: 50%;
}
@media (max-width: 1000px) {
  .meet-us .panel .panel-content .panel-style .information {
    width: 90%;
  }
}
.meet-us .panel .panel-content .panel-style .information .links {
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 1200px) {
  .meet-us .panel .panel-content .panel-style .information .links {
    justify-content: center;
  }
}
.meet-us .panel .panel-content .panel-style .information p {
  font-size: 1.2rem;
}
@media (max-width: 1000px) {
  .meet-us .panel .panel-content .panel-style .information p {
    font-size: 1rem;
  }
}
.meet-us .panel .panel-content .panel-style .person-img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: flex;
  align-content: flex-end;
  padding: 10px;
}
@media (max-width: 350px) {
  .meet-us .panel .panel-content .panel-style .person-img {
    width: 100%;
  }
}
.meet-us .panel .showContent {
  display: block;
}
.marginAdded {
  margin-top: 50px;
}
.about-article {
  position: relative;
  text-align: center;
  color: white;
  height: 400px;
}
.about-article .img1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(90%);
  opacity: 1;
  margin-bottom: 20px;
}
.about-article .img2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Centered text */
.about-us {
  position: absolute;
  font-size: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.about-why {
  color: black;
  position: absolute;
  background-color: white;
  box-shadow: 1px 1px 10px black;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: -75px;
  margin-left: 10%;
  margin-right: 10%;
  border: 1px dashed black;
}
.about-button {
  position: absolute;
  margin-top: -70px;
  width: 100%;
  height: 50px;
}
.about-button button {
  background-color: #f73b3b;
  border-color: #f73b3b;
  border-radius: 10px;
  font-size: 20px;
  color: black;
  width: 50%;
  height: 100%;
}
.about-button button:hover {
  cursor: pointer;
}
@media screen and (max-width: 300px) {
  p {
    font-size: 12px;
  }
  h1 {
    font-size: 20px;
  }
}
@media screen and (max-width: 500px) {
  p {
    font-size: 12px;
  }
  h1 {
    font-size: 20px;
  }
  .about-button {
    margin-top: -55px;
  }
  .about-button button {
    width: 100%;
    font-size: 20px;
  }
}
@media screen and (max-width: 200px) {
  p {
    font-size: 8px;
  }
  h1 {
    font-size: 10px;
  }
  .about-button {
    height: 20px;
    margin-top: -45px;
  }
  .about-button button {
    width: 100%;
    font-size: 10px;
  }
}
.frontEndLink {
  display: flex;
  justify-items: center;
  flex-direction: column;
  width: 100%;
  margin: 0px auto 40px auto;
  padding: 10px 10px 30px 10px;
  background-image: url(../assets/LoginConnectImage/signinbuttonunedited.jpeg);
  background-color: #ad2929;
  background-position: center;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 5px 10px 10px;
}
@media (max-width: 420px) {
  .frontEndLink {
    width: 100%;
  }
}
.frontEndLink h2 {
  font-size: 2rem;
  text-align: center;
}
@media (max-width: 420px) {
  .frontEndLink h2 {
    font-size: 1.4rem;
  }
}
.frontEndLink .buttonsLogin {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.frontEndLink .buttonsLogin .button {
  font-size: 1.2rem;
  border-radius: 5px;
  padding: 5px;
  color: black;
  background-color: #fab384;
  box-shadow: 5px 5px 10px;
}
.frontEndLink .buttonsLogin .button:hover {
  background-color: black;
  color: #79ca72;
}
@media (max-width: 420px) {
  .frontEndLink .buttonsLogin .button {
    font-size: 1rem;
  }
}
.landing-page-info {
  border: 1px solid black;
  background-color: black;
  opacity: 0.6;
  position: absolute;
  height: 100px;
  margin-top: -100px;
}
.landing-page-info p {
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  opacity: 1;
}
@media screen and (max-width: 300px) {
  p {
    font-size: 12px;
  }
  h1 {
    font-size: 20px;
  }
}
@media screen and (max-width: 500px) {
  p {
    font-size: 12px;
  }
  h1 {
    font-size: 20px;
  }
}
@media screen and (max-width: 200px) {
  p {
    font-size: 8px;
  }
  h1 {
    font-size: 10px;
  }
}
.carousel {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.carousel .carousel-img {
  width: 100%;
  position: none;
  object-fit: cover;
}
* {
  box-sizing: border-box;
}
body,
html {
  background-color: seashell;
  padding: 0px;
  margin: 0px;
}
h1,
button {
  font-family: "Lobster", cursive;
}
h2,
h3,
h4,
h5,
p,
a {
  font-family: "Mali", cursive;
}
