.carousel {
  width: 100%;
  display: flex;
  // justify-content: center;
  flex-direction: column;
  height: 500px;
  overflow: hidden;
  position: relative;

  .carousel-img {
    width: 100%;
    position: none;
    object-fit: cover;
  }
}
