
.head{
    display:flex;
    justify-content: center;
    margin:auto;
   
}


.container-btm-contact {
    background-color: lighten(@chefYellow, 15);
     
        display:flex;
        justify-content:center;
        padding:0px;
        margin-top:15px;
        color:black;
        bottom:0;
        width: 100%; 
        margin-top: 450px;
        
        .container-btm-inner-contact {
          bottom: 0;
          background-color: lighten(@chefYellow, 15);
          width: 100%; 
          display:flex;
          justify-content:center;
         }  

  }


.mediaIcons {
display:flex;
justify-content: space-between;
margin: 10px;
padding-left: 10px; 
img{
   margin-top:10px; 
   margin-left: 10px;     
width:30px;
height:30px;
}
}