.container-btm {
    background-color: lighten(@chefYellow, 15);
     position: relative;
        display:flex;
        justify-content:center;
        padding:0px;
        margin-top:15px;
        color:black;
        bottom:0;
        width: 100%;  
        .container-btm-inner {
          position: absolute;
          bottom: 0;
          background-color: lighten(@chefYellow, 15);
          width: 100%; 
          display:flex;
          justify-content:center;
         }  

  }
 

  .container-meetUs {
    background-color: lighten(@chefYellow, 15);
    position: static;
    display:flex;
    justify-content:center;
    padding:0px;
    margin:auto;
    margin-top:100px;
    color:black;
    left:0;
    bottom:0;
    width: 100%;    
  }

  .container-btm-about {
    background-color: lighten(@chefYellow, 15);
     
        display:flex;
        justify-content:center;
        padding:0px;
        margin-top:15px;
        color:black;
        bottom:0;
        width: 100%; 
        margin-top: 450px;
        
        .container-btm-inner-about {
          bottom: 0;
          background-color: lighten(@chefYellow, 15);
          width: 100%; 
          display:flex;
          justify-content:center;
         }  

  }
  // .container-btm-about {
  //   background-color: lighten(@chefYellow, 15);
  //   margin:0;
  //   color:black;
  //   bottom:0;
  //   position: absolute;
  //   margin-top: 50px;
  //   width: 100%;
  //   z-index: -1;
  //   display:flex;
  //   justify-content:center;
  //   align-items: flex-end;
   
  // }

  .icons {
    display:flex;
    justify-content: space-between;
    width:40px;
    margin: 10px;
    
    padding-left: 10px; 
    img{
       margin-top:10px; 
       margin-left: 10px;
    width:30px;
    height:30px;
    }
   
  }
