



// Below is the sign in style
.frontEndLink {
  display: flex;
  justify-items: center;
  flex-direction: column;
  width: 100%;
  margin: 0px auto 40px auto;
  padding: 10px 10px 30px 10px;
  background-image: url(../assets/LoginConnectImage/signinbuttonunedited.jpeg);
  background-color: @chefBrown;
  background-position: center;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 5px 10px 10px;

  @media (max-width: 420px) {
      width: 100%;
      
  }

  h2 {
    font-size: 2rem;
    text-align: center;

    @media (max-width: 420px) {
       font-size: 1.4rem;
    }
  }

  .buttonsLogin {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;


    .button {
      font-size: 1.2rem;
      border-radius: 5px;
      padding: 5px;
      color: black;
      background-color: lighten(@chefYellow, 15);
      box-shadow: 5px 5px 10px; 
      

      &:hover {
        background-color:black;
        color: #79ca72;
    
    }

      @media (max-width: 420px) {
        font-size: 1.0rem;
     }
    }
  }
}


// Info on the landing Page
.landing-page-info{
  border:1px solid black;
  background-color: black;
  opacity: 0.6;
  position: absolute;
  // margin-left: 10px;
  // margin-right: 10px;
  height: 100px;
  margin-top: -100px;
  p{
    padding-left: 10px;
    padding-right: 10px;
    color:white;
    opacity: 1
  }


}
@media screen and (max-width: 300px){
  p{
    font-size: 12px;
  }
  h1{
    font-size: 20px;
  }
  
 }
 @media screen and (max-width: 500px){
   p{
     font-size: 12px;
   }
   h1{
     font-size: 20px;
   }
  
  }
  @media screen and (max-width: 200px){
   p{
     font-size: 8px;
   }
   h1{
     font-size: 10px;
   }
   
  }