.bodyImage {
    background-image: url("https://images.unsplash.com/photo-1498579809087-ef1e558fd1da?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
    
    
  }

.frontEndLink {
    display: flex;
    justify-items: center;
    flex-direction: column; 
    width: 400px; 
    margin: 20px auto 40px auto;
    padding: 10px 10px 30px 10px; 
    background-image: url('https://images.unsplash.com/photo-1495195134817-aeb325a55b65?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80');
    background-position: center; 
    background-size: cover;
    border-radius: 5px;
    box-shadow: 5px 10px 10px; 

    




    h2 {
        font-size: 2rem;
        text-align: center;
    }

    .buttonsLogin {
        display: flex;
        flex-direction: row; 
        justify-content: space-evenly;

        button {
            font-size: 1.2rem;
            border-radius: 5px; 
            padding: 5px;
            background-color: @chefYellow;
        }
    }
}


