.about-article{
    border: 1px outset white;
    background-color: white;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 25px;
    margin-top: 30px;;
    
    h1{
        text-align: center;
        
    }
    p{
        padding-left: 50px;
        padding-right: 50px;
    }
}