@import "../LESS/mixins.less";

@import "../LESS/footer.less";
@import "../LESS/variable.less";
@import "../LESS/navbar.less";
<<<<<<< HEAD
@import "../LESS/meetUs.less";
=======
@import "../LESS/about.less";
>>>>>>> 4b850dcf37b84ed7e9a3220022fcceadb645884c
* {
    box-sizing: border-box;
  }
  body{
    background-color: @chefOffWhite;
    padding: 0px;
    margin: 0px;
}
@import "../LESS/carousel.less";

