@import "../LESS/mixins.less";

@import "../LESS/footer.less";
@import "../LESS/variable.less";
@import "../LESS/navbar.less";
@import "../LESS/meetUs.less";
@import "../LESS/about.less";
* {
    box-sizing: border-box;
  }
  body{
    background-color: @chefOffWhite;
    padding: 0px;
    margin: 0px;
}
h1,button{
  font-family: 'Lobster', cursive;
}
h2,h3,h4,h5,p,a{
  font-family: 'Mali', cursive;

}
@import "../LESS/carousel.less";

