@import "../LESS/mixins.less";

@import "../LESS/footer.less";
@import "../LESS/variable.less";
@import "../LESS/navbar.less";
@import "../LESS/meetUs.less";
@import "../LESS/about.less";
* {
    box-sizing: border-box;
  }
  body{
    background-color: @chefOffWhite;
    padding: 0px;
    margin: 0px;
}
@import "../LESS/carousel.less";

