* {
  box-sizing: border-box;
}
.carousel {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  height: 500px;
  overflow: hidden;
  margin: auto;
}
@media (min-width: 1200px) {
  .carousel {
    width: 1200px;
  }
}
.carousel .click-content {
  display: none;
}
.carousel img {
  width: 100%;
  display: none;
}
