a {
  text-decoration: none;
  color: white;
  padding: 7px;
}
.container-nav {
  position: relative;
  padding: 0;
  margin: 0;
  color: seashell;
  background-color: #f73b3b;
}
.container-nav .nav-hamburger-clicked {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-nav .navbar {
  display: flex;
  border: 2px outset #f96262;
}
.container-nav .nav-logo {
  width: 75%;
  display: flex;
}
.container-nav .nav-logo h1 {
  padding-left: 0px;
}
.container-nav .nav-links {
  justify-content: space-around;
  align-self: center;
  display: flex;
  width: 30%;
}
.container-nav .nav-links .nav-hamburger {
  transform: rotate(90deg);
  display: none;
}
.container-nav .nav-links .nav-hamburger #stick {
  padding: 2px;
  font-size: 1.5rem;
  font-weight: bold;
}
.container-nav a:hover {
  cursor: pointer;
}
@media screen and (max-width: 668px) {
  .container-nav .nav-logo {
    width: 100%;
    justify-content: center;
    padding-left: 100px;
  }
  .container-nav .nav-links {
    justify-content: flex-end;
  }
  .container-nav .nav-links a {
    display: none;
  }
  .nav-hamburger {
    display: flex !important;
  }
  .nav-hamburger:hover {
    cursor: pointer;
  }
}
.navt {
  display: none !important;
}
.container-nav-btm {
  background-color: #fab384;
}
.container-nav-btm .navbar {
  display: flex;
  justify-content: center;
  padding: 0px;
  margin-left: 35%;
  color: black;
  border: 0;
}
body {
  background-color: seashell;
}
.meet-us {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.meet-us h1 {
  text-align: center;
  font-size: 2rem;
}
.meet-us .panel {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 30px;
  background-color: #f7863b;
  border: 4px solid #ad2929;
  border-radius: 10px;
  box-shadow: 5px 10px 10px;
  width: 70%;
  height: 100%;
}
.meet-us .panel .panel-bar {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  height: 50px;
  width: 100%;
}
.meet-us .panel .panel-bar .panel-buttons .button {
  cursor: pointer;
}
.meet-us .panel .panel-bar .panel-buttons .hide-button {
  display: none;
}
.meet-us .panel .panel-content {
  display: none;
}
.meet-us .panel .panel-content .panel-style {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  padding-top: 30px;
  width: 100%;
}
.meet-us .panel .panel-content .panel-style .h3 {
  font-size: 2rem;
  text-align: center;
  font-family: 'Lobster', cursive;
}
.meet-us .panel .panel-content .panel-style .information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  width: 50%;
}
.meet-us .panel .panel-content .panel-style .information .links {
  display: flex;
}
.meet-us .panel .panel-content .panel-style .person-img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: flex;
  align-content: flex-end;
  padding: 10px;
}
.meet-us .panel .showContent {
  display: block;
}
.about-article {
  border: 1px outset white;
  background-color: white;
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 25px;
  margin-top: 30px;
}
.about-article h1 {
  text-align: center;
}
.about-article p {
  padding-left: 50px;
  padding-right: 50px;
}
* {
  box-sizing: border-box;
}
body {
  background-color: seashell;
  padding: 0px;
  margin: 0px;
}
.carousel {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 500px;
  overflow: hidden;
  margin: auto;
}
@media (min-width: 1200px) {
  .carousel {
    margin-top: 30px;
  }
}
.carousel .carousel-img {
  width: 100%;
  position: none;
}
.carousel .click-content {
  display: none;
  opacity: "0";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
